<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!-- styles -->

</head>
<body>
  <div id="app">
  </div>
</body>

<script type="text/javascript" src="http://localhost:8080/javascripts/bundle.js" charset="utf-8"></script>
<script type="text/javascript" src="javascripts/common.js" charset="utf-8"></script>
<script type="text/javascript" src="javascripts/bundle.js" charset="utf-8"></script>
</html>
