body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.movieCard {
  text-align: center;
  width: 75%;
  margin: 40px auto;
}
.movieCard div {
  text-align: left;
}

.userForm {
  /* 水平居中 */
  text-align: center;
  margin: auto;
  /* 垂直居中 */
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
  height: 500px;
  min-height: 500px;
}
